.price-slider {
    width: 100%;
    height: 10px;
    background-color: #ffffff;
}

.price-slider .thumb {
    width: 23px;
    height: 23px;
    cursor: pointer;
    background-color: #281aeb;
    border-radius: 50%;
    border: 2px solid #fff;
}

