.restaurant-card {
    background-color: rgba(
        18,
        116,
        214,
        0.5
    ); /* Adjust the alpha value (0.7) to control transparency */
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
